header{
    background-color: burlywood;
}

img{
    width: 150px;
    margin-top: 39px;
    margin-left: 150px;
}


li{
    float: left;
    list-style: none;
    padding: 10px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
   
    float: right;
    margin-top: 80px;
    margin-right: 60px;
    box-sizing: border-box;
    font-size: 28px;   
}

a{
    text-decoration: none;
}

li:hover a{
    color: black;
}